:root {
    --off-white: #faf9f6;
    --off-black: #313134;

    --blue: #8bb9ff;
    --blue-shadow: rgb(139, 185, 255, 0.5);
    --light-blue: #5ed0ff;
    --teal: #47e2d1;
    --light-teal: #9deee3;
    --pink: #ff9cb3;
    --dark-pink: #d07289;
}

@font-face {
    font-family: 'LexieReadable';
    src: url('./font/LexieReadable-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexieReadable';
    src: url('./font/LexieReadable-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family: 'LexieReadable', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    color: var(--off-white);
    background-color: var(--off-black);
}

/*********************************** Menu ************************************/

nav {
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 5px var(--blue-shadow);
    color: var(--off-black);
}

#navigation, .users {
    gap: 20px;
    width: 50%;
    display: flex;
}

#navigation {
    padding-left: 10px;
    justify-content: flex-start;
}

.users {
    padding-right: 20px;
    justify-content: flex-end;
}

nav ul {
    display: contents;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
    margin: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.category {
    display: none;
    position: absolute;
    background-color: var(--blue);
    width: 120%;
    padding-top: 10px;
    z-index: 3;
}

nav div > ul li:hover .category{
    display: block;
}

.category li{
    width: 100%;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    padding: 10px;
}
