:root {
    --off-white: #faf9f6;
    --off-black: #313134;

    --blue: #8bb9ff;
    --light-blue: #5ed0ff;
    --teal: #47e2d1;
    --light-teal: #9deee3;
    --pink: #ff9cb3;
    --dark-pink: #d07289;
}

@font-face {
    font-family: 'LexieReadable';
    src: url('./font/LexieReadable-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexieReadable';
    src: url('./font/LexieReadable-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'LexieReadable', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    color: var(--off-white);
    background-color: var(--off-black);
}